    /****************
        DECK LIST
    ****************/

#deckList {
    min-height: 100px;
    /*border: 1px solid #dbdbdb;*/
	padding-bottom: 15px;
	padding-top: 1px;
}

#deckList .browseItem {
    border: 1px solid #dbdbdb;
    min-height: 75px;
    background-color: #e4e4e4;
    /*margin: 5px;*/
    margin-top: 15px;
}

#deckList .browseItem:hover {
    box-shadow: 0 0 10px #888888;
}

    /***********
        VOTE
    ***********/
    
.vote {
    width: 75px;
    height: 75px;
    background-color: #bbbbbb;
    float: left;
}

.vote .up,
.vote .down {
    height: 25px;
    background-repeat: no-repeat;
}

.vote .up {
    background-image: url("../images/controls/vote_up.png");
    background-position: center;
}

.vote .up:hover {
    background-image: url("../images/controls/vote_up_hover.png");
}

.vote .down {
    background-image: url("../images/controls/vote_down.png");
    background-position: center;
}

.vote .down:hover {
    background-image: url("../images/controls/vote_down_hover.png");
}

.vote .score {
    font-size: 1em;
    line-height: 25px;
    height: 25px;
    text-align: center;
}

    /****************
        DECK TAG
    ****************/

.deckTag {
    background-color: #e4e4e4;
    color: #040404;
    width: 100%;
    position: absolute;
}

.deckTagHolder {
    position: relative;
    margin-left: 75px;
    margin-right: 200px;
}

.deckTag .title {
    font-size: 1.2em;
    padding-bottom: 5px;
}

.deckTag .info {
    float: left;
    font-size: 0.6em;
    line-height: 1em;
    width: 45%;
    padding-left: 10px;
    
}

.deckTag .tags {
    float: right;
    font-size: 0.6em;
    line-height: 1em;
    margin-left: -21px;
    padding-right: 10px;
    width: 45%;
}

    /***************
        USER TAG
    ***************/

.userTag {
    float: right;
    height: 75px;
    width: 200px;
    background-color: #bbbbbb;
}


    /********************
        COMMON STYLES
    ********************/

.deckTag .title,
.userTag div > div {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}