    /****************
        DECK LIST
    ****************/

#deckList {
    background-color: #ffffff;
}

#deckList .browseItem {
    border: 1px solid #dbdbdb;
    min-height: 75px;
    clear: both;
    margin-bottom: -1px;
}

#deckList .browseItem:hover {
    box-shadow: 0 0 8px #444444;
}

#deckList .browseItem > div {
    height: 75px;
    float: left;
}

    /***********
        VOTE
    ***********/
    
.vote {
    width: 75px;
    background-color: #bbbbbb;
    float: left;
}

.vote .voteControls {
    display: none;
}

.vote .up,
.vote .down {
    height: 75px;
    width: 37px;
    background-repeat: no-repeat;
}

.vote .up {
    float: left;
}

.vote .down {
    float: right;
}

.voteControls .up {
    background-image: url("../images/controls/vote_up.png");
    background-position: center;
}

.voteControls .up:hover {
    background-image: url("../images/controls/vote_up_hover.png");
}

.voteControls .down {
    background-image: url("../images/controls/vote_down.png");
    background-position: center;
}

.voteControls .down:hover {
    background-image: url("../images/controls/vote_down_hover.png");
}

    /****************
        DECK TAG
    ****************/

.deckTag {
    color: #040404;
    width: 600px;
}

.deckTag .title {
    font-size: 1.2em;
    padding-bottom: 5px;
}

.deckTag .info {
    float: left;
    font-size: 0.8em;
    line-height: 1em;
    padding-left: 10px;
    
}

    /***************
        USER TAG
    ***************/

.userTag {
    width: 200px;
    border-left: 1px solid #dbdbdb;
    position: relative;
}

    /***************
        CLIP TAG
    ***************/

.clip {
    float: right !important;
    width: 50px;
    height: 75px;
    cursor: pointer;
    background-image: url("../images/controls/clip.png");
}

.clip:hover {
    background-image: url("../images/controls/clip_hover.png");
}

.clipped {
    background-image: url("../images/controls/clipped.png") !important;
}

.clipped:hover {
    background-image: url("../images/controls/clipped_hover.png") !important;
}