.deckInfo {
    height: 120px;
}

.deckInfo input {
    width: 350px;
    float: left;
}

.deckInfo .label {
    width: 120px;
}

.deckInfo .column {
    float: left;
    padding: 20px;
}

.deckInfo textarea {
    width: 380px;
    height: 84px;
    resize: none;
}

.deckInfo .row > div {
    height: 30px;
}

.cardList .cardRow {
    padding: 10px 0 10px 0;
    height: 85px;
}

.cardList .cardRow div {
    float: left;
}

.cardList .cardRow .number {
    width: 100px;
    text-align: center;
    font-size: 36px;
}

.cardList .cardRow .minDisplay {
    width: 812px;
}

.cardList .cardRow .minDisplay > div {
    width: 48%;
    margin-left: 10px;
}

.cardList .cardRow .cardSummary {
    padding-right: 20px;
    height: 70px;
    overflow: hidden;
    font-size: 10pt;
}

.cardList .cardRow.selected .cardSummary {
    height: 246px;
    width: 100%;
    padding-right: 10px;
}

.cardList .cardRow:first-child {
    border: none;
}

.cardList .cardRow {
    border-top: 1px solid #dbdbdb;
    background-color: #eeeeee;
    cursor: pointer;
}

.cardList .cardRow:hover {
    background-color: #ffffff;
    color: #000000;
}

.placeholder {
    border-top: 1px solid #dbdbdb;
    background-color: #ffff99;
    height: 100px;
}

.selected {
    background-color: #ffffff !important;
    height: 300px !important;
    color: #000000 !important;
}

.cardRow textarea {
    resize: none;
    height: 244px;
    width: 100%;
    border: 1px solid #888888;
    font-family: helvetica, sans-serif;
}

.cardControls {
    height: 30px;
    margin: 10px 0 10px 0;
}

#autocomplete {
    display: none;
    width: 360px;
}

#message {
    width: 360px;
}

.cardRow .remove {
    display: none;
}