    /***************
        ELEMENTS
    ***************/
    
body {
    font-family: helvetica, sans-serif;
    font-size: 1em;
    background-color: #f2f1bd;/*#ffff99;*/
    /*background-repeat: repeat-y;*/
	margin: 0;
	padding: 0;
}

div.link:hover {
    /*background-color: #6b6bb3;*/
    color: #6B6BB3;
    cursor: pointer;
}

a:link,
a:visited {
    text-decoration: none;
    color: #9999FF;
}

.placeholder {
    color: #aaaaaa;
}

    /********************
        PAGE TEMPLATE
    ********************/
    
#wrapper {
    top: 20px;
    width: 100%;
    min-width: 1000px;
    position: relative;
}

#content {
    width: 960px;
    max-width: 1200px;
    min-height: 400px;
    padding-top: 40px;
    position: relative;
}

#footer {
    text-align: right;
    padding: 10px 20px 10px 20px;
	margin: 15px 0 0 0;
    /*border: 1px solid #dbdbdb;*/
}

    /**************
        TOP BAR
    **************/
    
#topBar {
    top: 0px;
    left: 50%;
	margin-left: -480px;
    width: 960px;
    /*min-width: 1000px;*/
    height: 3em;
    line-height: 3em;
    position: fixed;
    z-index: 100;
}

.loginBar .controlBar {
    padding-right: 20px;
}

input.login {
    width: 150px;
}

.facebook {
    background-color: #5d79ae !important;
}

#userBar {
    width: 100%;
    height: 75px;
	box-shadow: 0 0 10px 0px #888888;
}

#userBar .banner {
    width: 300px;
    float: left;
    height: 100%;
    background-image: url("../images/banner.png");
}

#userBar .controlBar {
    float: right;
    height: 50px;
    top: 25px;
    right: 25px;
    position: absolute;
}

#userBar .control {
    width: 50px;
    float: left;
    height: 50px;
}

.control#search {
    background-image: url("../images/controls/search.png");
}

.control#yourCards {
    background-image: url("../images/controls/yourCards.png");
}

.control#settings {
    background-image: url("../images/controls/settings.png");
}

.control#logout {
    background-image: url("../images/controls/logout.png");
}
    
.remove {
    position: absolute;
    right: 10px;
    height: 20px;
    width: 20px;
    background-image: url("../images/controls/remove.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.remove:hover {
    background-image: url("../images/controls/remove_hover.png");
}

    /*********************
        COMMON CLASSES
    *********************/
    
.centred {
    margin-left: auto !important;
    margin-right: auto !important;
}

.h-spaced {
    padding-left: 15px;
    padding-right: 15px;
}

.v-spaced {
    padding-top: 20px;
    padding-bottom: 20px;
}

.separated {
    margin-top: 20px;
    margin-bottom: 20px;
}

.white {
    background-color: #ffffff;
    color: #000044;
}

.shadow {
    box-shadow: 0 0 10px #888888;
}

.white:hover {
	box-shadow: 0 0 10px #888888;
}

.halfRow {
    height: 50%;
}

.floatLine {
    clear: both;
}

.control {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.row {
    clear: both;
}

.row > div {
    float: left;
}

.row > input {
    float: left;
}

.button {
    height: 100%;
    width: 100px;
    float: right;
    margin-left: 20px;
    background-color: #9999ff;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    font-size: 1em;
    color: #ffffff;
    cursor: pointer;
    height: 30px;
}

.button:hover {
    background-color: #6b6bb3;
}

.button:active {
    background-color: #333388;
}

.button:focus {
    border: groove 2px #333388;
    height: 28px;
    line-height: 28px;
    width: 98px;
}

.ajaxLoader {
    background-image: url("../images/ajax.gif");
    background-position: center;
    background-repeat: no-repeat;
}

div.info-tooltip {
    margin-left: 10px;
    float: left;
    height: 20px !important;
    width: 20px;
    background-image: url("../images/info.png");
    background-position: center top;
    background-repeat: no-repeat;
    cursor: pointer;
}

.tooltip {
    margin-left: 10px;
	padding: 8px;
    background-color: #ffff99;
	box-shadow: 0 0 10px #888888;
	position: absolute;
    font-size: 10pt;
    font-style: italic;
    max-width: 300px;
	z-index: 100;
}

.right {
    float: right;
}

.left {
    float: left;
}

.title {
    font-size: 16pt;
}

.label {
    font-weight: bold;
}

.corner-spaced {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.bottom {
    bottom: 0px;
}